body {
  font-family: Arial, sans-serif;
  transition: background 0.5s, color 0.3s;
}
.light {
  background: white;
  color: black;
}
.dark {
  background: black;
  color: white;
}
button {
  background-color: aquamarine;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
input {
  height: 32px;
  margin: 0px 2px;
}
ol {
  font-family: inherit;
  font-size: 26px;
}
ol li {
  color: black;
}
