@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
#deposit-section {
  min-height: 100vh;
  background-color: beige;
}
.main-heading {
  text-align: left;
  font-size: 32px;
  margin: 20px;
}
h2 {
  margin: 20px;
}
input {
  width: 400px;
  height: 40px;
  margin: 20px;
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#atm-section {
  width: 700px;
  height: 400px;
  background-color: #fff;
  padding: 50px 30px;
  border-radius: 5px;
}
button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 12px 25px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 20px;
}
